.header{
    background-color: $background-color-violet;
    &__container{
        padding: 10rem 0;
        background-image: url(../img/blob-center.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    
    &__main{
        display:flex;
        align-items: center;
        // justify-content: space-around;
        padding: 2rem 4rem;
        gap: 10rem;
    }
    
    &__about{
        color: $color-primary;
        font-size: 3.2rem;
        line-height: 1.4;
        word-spacing:0.5rem;
        font-weight: 800;
        margin-bottom: 2.4rem;
        animation-name: moveInTop;
        animation-duration:  1s;
        animation-timing-function:ease-out;
    
    }

    &__text{
        color: $color-primary;
        font-size:1.4rem;
        margin-bottom: 3.8rem;
        animation-name: moveInTop;
        animation-duration:  1s;
        animation-timing-function:ease-out;
    }
   
    &__btn{
        display: flex;
        align-items: center;
        &--1{
            font-size: 1.6rem;
            margin: 1rem;
            padding: 1.8rem 4rem;
            border-radius: 6rem;
            box-shadow: 0 1rem 2rem rgba($black-color, 0.2);
            background-color:orange;
            animation-name: moveInLeft;
            animation-duration:  0.8s;
            animation-timing-function:ease-out;
            transition: all 0.5s; 

            
            &:hover{
                background-color: rgb(243, 178, 57);
                box-shadow: 0 1rem 2rem rgba($black-color, 0.4);
            }
            
        }

        &--3{
            color: $black-color;
            font-weight: 500;
            text-decoration: none;
        }

        &--4{
            text-decoration: none;
            color: $black-color;
            font-weight: 500;
        }

       
   
    
    &--2{
        text-decoration: none;
        font-size: 1.6rem;
        margin: 1rem;
        background-color: $color-primary;
        color: $black-color;
        padding: 1.8rem 4rem;
        border-radius: 6rem;
        box-shadow: 0 1rem 2rem rgba($black-color, 0.2);
        font-weight: 500;
        animation-name: moveInRight;
        animation-duration:  0.8s;
        animation-timing-function:ease-out;
    }
}
 


  
    &__img--1{
        height: 40%;
        width: 50%;
        animation-name: zoomIn;
        animation-duration:  0.8s;
        animation-timing-function:ease-out;
        // animation-iteration-count: 1; 
    }

    &__img{
        background-color: $background-color-violet;
        height: auto;
        width: 100%;
    }
}