.container{
    text-align: center;
    background-color: rgb(242, 247, 247);
    padding:4rem 1.5rem;
    border-radius: 1rem;
    // transition: all 0.3s ;
    
    &__head{
        font-size: 2rem;
        margin-top: 1.6rem;
        font-weight: 600;
    }
    
    &__text{
        font-size: 1.4rem;
        margin-top: 1.2rem; 
    }
    
    &__icon{
        height: 6rem;
        width: 6rem;
        color: $background-color-violet;
    }
    &:hover{
        transform: translateY(-1.5rem) scale(1.03);
    }
}