.section__img{
    position: relative;
    .section__left{
        position:absolute;
        top: -8rem;
        left: -8rem;
    }
    .section__right{
        position: absolute;
        top: -8rem;
        left: 107rem;
    }
    .section__bottomleft{
        position: absolute;
        bottom: -25rem;
        left: -8rem;
    }
    .section__bottomright{
        position: absolute;
        bottom: -27rem;
        left: 107rem;
    }
    .section__center{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
    }
}

.testimonial{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 12.4rem;

    &__list{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1.4rem;
        font-weight: 300;
    }
    
    &__items{
        font-weight: 500;
        font-size: 1.4rem;
        :first-child{
            width: 5rem;
            height: 5.4rem;
            color: orange;
            font-weight: 800;
        }

        &:nth-child(2){
            font-size: 3.4rem;
            font-weight: 800;
        }
    }
}