.section-feature{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 15rem 0;
    gap:2rem;
}

.section-about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10.8rem;
}

.section-team{
    margin-top: 15.4rem;
    padding:8rem;
    color: $color-primary;
    background-color: $background-color-violet;
}

.service-section{
    margin-top: 10.4rem;    
    text-align: center;
    h4{
        text-transform: uppercase;
        color: orange;
      }

    h2{
        font-size: 4rem;
        font-weight: 800;
        text-transform: capitalize;
      }
}

.news-section{
    text-align: center;
    background-color: $background-color-violet;
    padding: 3.5rem;
}