.section-feature{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 15% 0;
    gap:2rem;
}

.section-about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.8rem;
}