.section-feature{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 15rem 0;
    gap:2rem;
}

.section-about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.8rem;
}

.section-team{
    margin-top: 15.4rem;
    padding: 10rem;
    color: $color-primary;
    background-color: $background-color-violet;
}